* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
#product-detail {
  margin-top: 1rem;
  width: 100%;
  background-color: #faf7f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem 0px;
}

#product-detail .productPage {
  margin: 8rem 0;
}

#product-detail .productPage .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#product-detail .pro_content {
  display: flex;
  gap: 60px;
}

#product-detail .col_product_1 {
  flex: 1;
}

#product-detail .col_product_2 {
  display: flex;
  flex-direction: column;
}

#product-detail .slider-image {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#product-detail .slider-image .flexslider > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#product-detail .carousel {
  margin: 20px auto;
}

#product-detail .carousel .sub-pic {
  display: grid;
  grid-template-columns: repeat(5, 100px);
}

#product-detail .carousel img {
  width: 68px;
  height: 68px;
  float: left;
  cursor: pointer;

  border-radius: 4px;
}

.active-carousel-img {
  border: 1px solid #111;
}

#product-detail .col_product_2 h1 {
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
}
#product-detail .col_product_2 h1::after {
  content: "";
  margin: 1.2rem 0;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000;
}
#product-detail .col_product_2 .price_pdPrice {
  margin-bottom: 15px;
}

#product-detail .col_product_2 .pro_price h3 {
  font-size: 21px;
  font-weight: bold;
  color: #333;
}

#product-detail .item_1 p,
.item_2 p {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}

.item_2 {
  display: flex;

  align-items: center;
  gap: 5px;
  color: #ffba83;
}

#product-detail .col_product_2 .cate {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

#product-detail .col_product_2 .cate p {
  font-weight: bold;
  color: #111;
}

#product-detail .col_product_2 .shortDesc p {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  max-width: 400px;
  text-align: justify;
}

#product-detail .col_product_2 .qty-cart form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

#product-detail .col_product_2 .btn_quantity {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

#product-detail .col_product_2 .quantity > button {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

#product-detail .col_product_2 .quantity .p-quantity {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

#product-detail .col_product_2 .qty-cart .btn_add {
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  border-radius: 50px;
}

#product-detail .col_product_2 .btn_add:hover {
  background-color: #fff;
  color: #111;
  transition: all 0.5s;
}
