@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  transition: top 0.3s ease-in-out; /* Add this line for smooth transition */
}

img,
svg {
  vertical-align: unset;
}

#header .mau {
  /* background-color: #b9b594; */
  min-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background-image: url(/assets/pic/cgdg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 86.5%;
  display: flex;
}

#header .mau .top-message {
  margin: 8px auto;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.05em;
}

#header .mau .top-message span:first-child {
  margin-left: 2.4rem;
  margin-bottom: px;
  line-height: 2;
  display: block;
}

#header .mau .top-message span:first-child + span {
  padding-right: 3px;
  padding-left: 4px;
}

#header .mau .top-message > span > a {
  color: orange;
  padding: 2px;
  background: #fff;
  border-radius: 5px;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  animation: fadeInDown 1.2s ease;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

#header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 30px;
  width: 100%;
  flex-wrap: wrap;
  background-color: #faf7f0;
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.4);
  border-radius: 5px;
}

#header .header-container .menubar {
  /* margin-right: 3rem; */
}

#header .logo {
  margin-top: 5px;
}

#header .logo img {
  height: 25px;
}

#header .header_menu {
}

#header .header_menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  column-gap: 2.6rem;
}

#header .header_menu > ul > li {
  position: relative;
  padding: 10px 0px;
}

#header .header_menu ul li a {
  font-size: 18px;
  color: #111111;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0;
}

#header .drop {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #faf7f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* padding: 10px 0; */
  z-index: 1000;
  min-width: 200px;
  border-radius: 5px;
}

#header .header_menu ul li .drop {
  display: none;
}

#header .header_menu > ul > li > a {
  display: block;
  position: relative;
}

#header .header_menu ul li a.active::after {
  transform: scale(1);
}

#header .header_menu > ul > li > a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  /* background-color: #e53637; */
  background-color: #333;
  transition: all 0.5s ease;
  transform: scale(0);
}

#header .header_menu > ul > li:hover > a::after {
  transform: scale(1);
}

#header .header_menu ul li:hover > .drop {
  display: block;
}

#header .drop li {
  padding: 6px 14px;
}

#header .drop li + li {
  /* border-top: 1px solid #eee; */
}

#header .header_menu .drop li a {
  color: #111111;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

#header .drop li a:hover {
  /* color: #de94a5; */
  text-decoration: underline;
}

#header .col_icon {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#header .col_icon a i {
  font-size: 18px;
  color: #333;
  transition: color 0.3s;
}

#header .col_icon-user {
  position: relative;
  /* margin-top: 6px; */
}

#header .col_icon-user .show {
  position: absolute;
  top: 42px;
  width: 130px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.4);
  padding: 10px 4px;
  border-radius: 5px;
  display: none;
}

#header .col_icon-user .show .items {
  transition: all 0.5s ease;
  padding: 8px 10px;
}

#header .col_icon-user .show .items:hover > a {
  text-decoration: underline;
}

.col_icon.col_icon-user > button {
  border: none;
  background: transparent;
  font-size: 18px;
  outline: none;
}

#header .icon {
  color: #fff;
}

#header .search {
  position: relative;
  margin-top: 4px;
}

#header .search > button {
  border: none;
  background-color: transparent;
}

#header .search > button > img {
  filter: brightness(1) invert(1);
  max-width: 21px;
}

#header .form-search {
  position: relative;
}

#header .form-search input {
  border: 1px solid;
  width: 100%;
  height: 38px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
  padding: 0 10px;
}

#header .form-search button {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 16px;
  color: #202020;
  font-size: 16px;
}

#header .search .ct {
  position: absolute;
  display: none;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.4);
  padding: 12px 16px;
  width: 300px;
  right: 0;
  margin-top: 16px;
  border-radius: 3px;
  z-index: 2;
}
