* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#home-container {
  margin-top: 8rem;
}

#home-container .why-choose-section {
  display: flex;
  margin: 10rem 0;
}

#home-container .why-choose-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(700px, 1fr));
  margin: 0 auto;
  justify-content: center;
}

#home-container .why-choose-container .wh-col-left {
  margin-top: 4rem;
  margin-left: 4rem;
}

#home-container .wh-title {
  color: #2f2f2f;
  font-size: 32px;
  margin-bottom: 10px;
}

#home-container .why-choose-container .wh-col-left > p {
  max-width: 700px;
  margin-bottom: 4rem;
}

#home-container .why-choose-container .wh-col-left-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.4rem;
}

#home-container .wh-col-left-content .feature > p {
  max-width: 350px;
  margin-right: 1.1rem;
}

#home-container .wh-col-left-content .feature > h3 {
  font-size: 14px;
  color: #2f2f2f;
  margin-bottom: 10px;
}

#home-container .wh-col-left-content .feature .icon {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

#home-container .wh-col-left-content .feature .icon > img {
  height: 100px;
  width: 100px;
}

#home-container .wh-col-left-content .feature .icon:before {
  /* content: ""; */
  width: 33px;
  height: 33px;
  position: absolute;
  background: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  right: -5px;
  bottom: 0;
}

#home-container .wh-col-right {
  display: flex;
}

#home-container .wh-col-right .img-wrap {
  position: relative;
  margin: auto;
}

#home-container .wh-col-right .img-wrap::before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url(https://themewagon.github.io/furni/images/dots-yellow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

#home-container .wh-col-right .img-fluid {
  width: 500px;
  max-height: 500px;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 20px;
}

#home-container .we-help-section {
  margin: 10rem 0px;
}

#home-container .we-help-section .we-help-container {
  display: flex;
  justify-content: space-between;
  column-gap: 3.8rem;
}

#home-container .we-help-section .whp-left {
  width: 60%;
}

#home-container .we-help-section .whp-right {
  width: 40%;
}

#home-container .we-help-section .whp-right > p {
  max-width: 700px;
  margin: 1.2rem 0px;
}

#home-container .we-help-section .whp-right > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1rem;
}

#home-container .we-help-section .whp-right > ul > li {
  padding: 12px 0px;
  list-style-type: circle;
  width: 200px;
  position: relative;
}

#home-container .we-help-section .whp-left .imgs-grid {
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  position: relative;
}

#home-container .we-help-section .whp-left .imgs-grid::before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url(../pic/dots-green.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(5%, -40%);
  z-index: -1;
}

#home-container .we-help-section .grid {
  position: relative;
}

#home-container .we-help-section .grid.grid-1 {
  padding: 0 40px;
  margin-left: 40px;
  grid-column: 1 / span 18;
  grid-row: 1 / span 27;
}

#home-container .we-help-section .grid.grid-2 {
  margin-right: 2rem;
  margin-left: -2rem;
  grid-column: 19 / span 27;
  grid-row: 1 / span 5;
  padding-left: 20px;
}

#home-container .we-help-section .grid.grid-3 {
  grid-column: 14 / span 16;
  grid-row: 6 / span 27;
  padding-top: 20px;
}

#home-container .we-help-section .grid img {
  width: 100%;
  border-radius: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 1380px) {
  #home-container .why-choose-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
