* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#about-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.background-split {
  padding: 20px;
  text-align: left;
  height: 100vh; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding: 0 20%;
}

.background-split h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.background-split p {
  font-size: 16px; 
  line-height: 1.6;
}

#about-us-container .back-1 {
  background-color: #faf1db;
}

#about-us-container .back-2 {
  background-image: url(/assets/pic/back_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about-us-container .back-3 {
  background-image: url(/assets/pic/back5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about-us-container .back-4 {
  background-color: #faf1db;
}

#about-us-container .back-5 {
  background-color: #faf1db;
}

#about-us-container .back-6 {
  background-image: url(/assets/pic/back_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.back_ground_aboutUS {
  grid-column: 1 / -1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/pic/back_End.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff; 
  text-align: center;
}

.back_ground_aboutUS h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.back_ground_aboutUS .frame_element {
  background-color: rgba(0, 0, 0, 0.3); /* Lớp phủ màu đen với độ mờ 50% */
  padding: 20px;
  border-radius: 10px;
}


.icon-3-background {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.icon-3-background .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-3-background .icon i {
  font-size: 40px;
  color: #fff; 
}

.icon-3-background .icon p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}

.subscription-description {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  max-width: 650px; 
}

.subscribe-button:hover {
  background-color: #504e4e;
  color: #ffffff;
}
.icon-3-background, .subscription-description{
  margin-top: 40px;
  margin-bottom: 40px;
}

