#cart-container .cart-header {
    width: 100%;
    padding: 30px 0; 
    background-color: #f4f4f4; 
    border-bottom: 1px solid #ddd; 
}

#cart-container .cart-header h1 {
    font-size: 2.5em; 
    font-weight: lighter; 
    color: #333;
    margin: 0; 
}

<<<<<<< HEAD
#cart-container .cart-info {
    display: grid;
    grid-template-columns: 5fr 3fr; 
    gap: 40px; 
    margin-top: 20px; 
}

#cart-container .cart-info .cart-table {
    border-collapse: collapse;
    width: 100%; 
}


#cart-container .cart-info .cart-table .cart-table-header .cart-table-header-row th {
    border-bottom: 1px solid #a1a1a1;
    padding: 20px 0; 
    text-align: left;
    font-weight: bold; 
}

#cart-container .cart-info .cart-table .cart-table-body .cart-item td {
    padding: 20px 0;
    vertical-align: middle;
}

#cart-container .cart-info .cart-item-info {
    display: flex;
    justify-content: left;
    align-items: center; 
=======
#shopping-cart-container {
  padding: 12rem 0px 4rem 0;
  background-color: #faf7f0;
}

/*giỏ hàng chính*/
#shopping-cart-container .main-cart {
  display: grid;
  grid-template-columns: 69% 29%;
  gap: 2rem;
  width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #faf7f0;
  border-radius: 8px;
>>>>>>> 280dcd080884327cae1f4c95bbca25b65e167360
}

#cart-container .cart-info .cart-item-info img {
    width: 80px;
    height: auto;
    margin-right: 15px; 
}

#cart-container .cart-info .cart-item-quantity button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 0 5px; 
}


#cart-container .cart-info .cart-item-quantity input {
    width: 40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 1em;
}

<<<<<<< HEAD

#cart-container .cart-info .cart-item {
    margin-bottom: 20px; 
=======
#shopping-cart-container .product-info > a {
  max-height: 80px;
  background-color: #f4eee0;
  border-radius: 4px;
}

#shopping-cart-container .product-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
>>>>>>> 280dcd080884327cae1f4c95bbca25b65e167360
}


#cart-container .cart-info .cart-item-remove button {
    border: none;
    background-color: #fff;
    font-size: 1.5em; 
    cursor: pointer;
}

<<<<<<< HEAD

#cart-container .cart-info .payment-frame {
    background-color: #fff;
    padding: 20px;
=======
#shopping-cart-container .quantity .p-quantity {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  color: #333;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

/*phiếu thanh toán*/
#shopping-cart-container .cart-summary {
  background-color: #fffefa;
  padding: 2rem;
  text-align: left;
  border-radius: 4px;
  color: #333;
>>>>>>> 280dcd080884327cae1f4c95bbca25b65e167360
}

#cart-container .cart-info .payment-frame .total-price {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0;
    color: #333;
}


#cart-container .cart-info .payment-frame .checkout-btn, 
#cart-container .cart-info .cart-table .cart-table-body .cart-item .cart-item-btn-continus-buy .continue-shopping-btn {
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

<<<<<<< HEAD
#cart-container .checkout-btn:hover, 
#cart-container .continue-shopping-btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


#cart-container .product-note {
    margin-top: 30px;
}

#cart-container .product-note textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 1em;
    color: #333;
=======
#shopping-cart-container .cart-summary .subtotal,
#shopping-cart-container .cart-summary .total {
  color: #e53637;
}

#shopping-cart-container .checkout-button {
  width: 100%;
  padding: 15px 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 20px;
  font-family: inherit;
  text-transform: uppercase;
}

#shopping-cart-container .checkout-button:hover {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

#shopping-cart-container .continue-shopping {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 15px 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
}

#shopping-cart-container .continue-shopping:hover {
  border: 1px solid #ccc;
  color: #fff;
  background: #000;
}

#shopping-cart-container .continue-shopping a {
  color: #000;
}

/* #shopping-cart-container .update-cart {
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  font-family: inherit;
  padding: 15px 50px;
  border: 1px solid #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

#shopping-cart-container .update-cart:hover {
  background: transparent;
  color: #000;
  border: 1px solid #000;
} */

#shopping-cart-container .discount-section {
  display: flex;
  align-items: center;
  margin: 20px 0 42px 0;
}

#shopping-cart-container .discount-section input {
  flex-grow: 1;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  outline: none;
}

#shopping-cart-container .discount-section .apply-discount {
  padding: 13px 20px;
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition: all 0.5s;
  font-weight: bold;
  width: 100%;
  font-family: inherit;
  text-transform: uppercase;
}

#shopping-cart-container .cart-table.right {
  max-width: 360px;
}

#shopping-cart-container .discount-section .apply-discount:hover {
  border: 1px solid #ccc;
  color: #000;
  background: #fff;
}

#shopping-cart-container .cart-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

#shopping-cart-container .decrease,
#shopping-cart-container .increase {
  border: none;
  background-color: transparent;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

#shopping-cart-container .i-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #f3f2ee;
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 50%;
  text-align: center;
}

#shopping-cart-container .i-container > a {
  padding-top: 4px;
}

#shopping-cart-container i {
  color: #000;
  font-size: 17px;
}
#shopping-cart-container .price {
  font-size: 18px;
  margin-top: 4px;
  font-weight: 600;
}

#shopping-cart-container .currency {
  vertical-align: super;
>>>>>>> 280dcd080884327cae1f4c95bbca25b65e167360
}
