@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito Sans", sans-serif;
  overflow: unset !important;
  padding-right: 0 !important;
}

a {
  text-decoration: none;
}

img,
svg {
  vertical-align: unset;
}

.mau {
  /* background-color: #b9b594; */
  min-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background-image: url(/assets/pic/cgdg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 86.5%;
  display: flex;
}

.mau .top-message {
  margin: 8px auto;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.05em;
}

.mau .top-message span:first-child {
  margin-left: 2.4rem;
  margin-bottom: px;
  line-height: 2;
  display: block;
}

.mau .top-message span:first-child + span {
  padding-right: 3px;
  padding-left: 4px;
}

.mau .top-message > span > a {
  color: orange;
  padding: 2px;
  background: #fff;
  border-radius: 5px;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.header-container {
  display: flex;
  /* display: grid;
  grid-template-columns: 300px 1fr; */
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 30px;
  width: 100%;
  flex-wrap: wrap;
  background-color: #faf7f0;
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.4);
  border-radius: 5px;
}

.right-menu {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.menubar {
  margin-right: 2rem;
}

.logo {
  margin-top: 5px;
}

.logo img {
  height: 25px;
}

.drop {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #faf7f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* padding: 10px 0; */
  z-index: 1000;
  min-width: 200px;
  border-radius: 5px;
}

ul li .drop {
  display: none;
}

ul > li > a {
  display: block;
  position: relative;
}

ul li a.active::after {
  transform: scale(1);
}

ul > li > a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  /* background-color: #e53637; */
  background-color: #333;
  transition: all 0.5s ease;
  transform: scale(0);
}

ul > li:hover > a::after {
  /* transform: scale(1); */
}

ul li:hover > .drop {
  display: block;
}

.drop li {
  padding: 6px 14px;
}

.drop li + li {
  /* border-top: 1px solid #eee; */
}

.drop li a {
  color: #111111;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.drop li a:hover {
  /* color: #de94a5; */
  text-decoration: underline;
}

.col_icon {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-left: 8px;
}

.col_icon a i {
  font-size: 18px;
  color: #333;
  transition: color 0.3s;
}

.col_icon-user {
  position: relative;
  /* margin-top: 6px; */
}

.col_icon-user .show {
  position: absolute;
  top: 42px;
  width: 130px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.4);
  padding: 10px 4px;
  border-radius: 5px;
  display: none;
}

.col_icon-user .show .items {
  transition: all 0.5s ease;
  padding: 8px 10px;
}

.col_icon-user .show .items:hover > a {
  text-decoration: underline;
}

.col_icon.col_icon-user > button {
  border: none;
  background: transparent;
  font-size: 18px;
  outline: none;
}

.icon {
  color: #fff;
}

.search {
  position: relative;
  margin-top: 4px;
}

.search > button {
  border: none;
  background-color: transparent;
}

.search > button > img {
  filter: brightness(1) invert(1);
  max-width: 21px;
}

.form-search {
  position: relative;
}

.form-search input {
  border: 1px solid;
  width: 100%;
  height: 38px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
  padding: 0 10px;
}

.form-search button {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 16px;
  color: #202020;
  font-size: 16px;
}

.search .ct {
  position: absolute;
  display: none;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.4);
  padding: 12px 16px;
  width: 300px;
  right: 0;
  margin-top: 16px;
  border-radius: 3px;
  z-index: 2;
}

/* BootStrap */
.dropdown-menu {
  background-color: transparent;
  border: none;
}

.dropdown-item:hover {
  background-color: transparent;
  text-decoration: underline;
}

.dropdown-menu[data-bs-popper] {
  margin: 0;
  left: unset;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  position: relative;
  color: #111111;
  font-weight: 600;
}

.nav-link:focus {
  color: #111111 !important;
}

.fa-solid.fa-chevron-down {
  position: absolute;
  right: 0;
  top: 8px;
}

.navbar-brand.nav-brand-custom {
  max-width: 225px;
  margin-right: 0;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

#search-custom {
  width: 88%;
  margin: auto;
}

.rotate {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .nav-item.dropdown:hover > .dropdown-menu {
    display: block;
    top: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background: #faf7f0;
  }

  .custom-width-lg {
    width: unset !important; /* Hoặc sử dụng width: unset; */
  }
}
