/* Container chính */

#checkout-container {
  display: grid;
  grid-template-columns: 6fr 4fr; /* Tỉ lệ các dòng */
  width: 1200px;
  margin: 0 auto;
}

#checkout-container .col-right-payment{
  padding: 60px;
  width: 70%;

}

#checkout-container .column {
  padding: 40px 0;
}

/* Tiêu đề */
#checkout-container .column h2,  #checkout-container .col-right-payment .shipping-info .payment-method h2{
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 25px;
  color: #515151;
}

/*breadcrumb điều hướng*/
.breadcrumb-frame h1 {
  font-size: 24px;
  font-weight: bold;
}

.breadcrumb-frame {
  min-width: 100%;
  grid-column: 1 / span 2;
}



.breadcrumb a {
  text-decoration: none;
  color: #000;
  margin: 0 4px;
}

.breadcrumb span {
  color: #9e9e9e;
  margin-left: 4px;
}

/* Form thông tin giao hàng */
#checkout-container .shipping-info .form-group input {
  width: 100%;
  padding: 16px 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #909090;
  font-size: 0.9em;
  background-color: #fff;
}

#checkout-container .shipping-info .select-address{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 10px;
}

#checkout-container .shipping-info .select-address .form-group select{
  padding: 16px 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #909090;
  font-size: 0.9em;
  background-color: #fff;
  color: #9e9e9e;
}

#checkout-container .col-right-payment .shipping-info .email-phone{
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 10px;
}


#checkout-container .shipping-info .email-phone .email{
  width: 95%;
}
/* Phương thức thanh toán */
#checkout-container .payment-method .method  {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

#checkout-container .payment-method .method img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#checkout-container .payment-method input[type="radio"] {
  margin-right: 10px;
}

/* Tổng kết và nút hoàn tất */
#checkout-container .col-right-payment .finish {
  text-align: right;
  margin-top: 20px;
}

#checkout-container .col-right-payment .finish .btn-total p {
  margin: 5px 0;
  font-size: 1em;
  text-align: center;
}

#checkout-container .col-right-payment .finish .btn-total {
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#checkout-container .col-right-payment .finish .btn-total:hover {
  background-color: #fff; 
  color: #000; 
  border: 1px solid #000; 
}

/* Thông tin đơn hàng */
#checkout-container .order-summary{
  padding:30px 0 0 30px;
  border-left: 1px solid #dcdbdb;
  display: flex;
  flex-direction: column;
}

#checkout-container .order-summary .product-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


#checkout-container .order-summary .product-list .body-list .product-item .item-img{
  display: flex;
  align-items: center;
  gap: 10px;
}
#checkout-container .order-summary .product-list .body-list .product-item .item-img .img-product {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

#checkout-container .order-summary .product-list .body-list .product-item td{
  padding: 15px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  
}

#checkout-container .order-summary .product-list .body-list .product-item td h2 {
  font-size: 1em;
  font-weight: normal;
  color: #333;
}

/* Khu vực voucher */
#checkout-container .order-summary .voucher-section {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbd8d8;
}

#checkout-container .order-summary .voucher-section .form-voucher{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Nút áp dụng voucher */
#checkout-container .order-summary .voucher-section .form-voucher .apply-voucher-btn {
  padding: 6px 20px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  
}

#checkout-container .order-summary .voucher-section .form-voucher .apply-voucher-btn:hover {
  background-color: #fff; 
  color: #000; 
  border: 1px solid #000;
}

#checkout-container .order-summary .voucher-section .form-voucher .id-voucher{
  border-radius: 5px;
  background-color: #f7f5f5 ;
  width: 70%;
  padding: 0 10px;
}

/*tạm tính*/
#checkout-container .order-summary .provisional .row {
 display: flex;
 justify-content: space-between;
 color: #9e9e9e;
}
/*thành tiền*/
#checkout-container .order-summary .total-section {
 display: flex;
 justify-content: space-between;
 width: 100%;
 color: #9e9e9e;
}





