#cart-container .cart-header {
    width: 100%;
    padding: 30px 0; 
    background-color: #f4f4f4; 
    border-bottom: 1px solid #ddd; 
}

#cart-container .cart-header h1 {
    font-size: 2.5em; 
    font-weight: lighter; 
    color: #333;
    margin: 0; 
}

#cart-container .cart-info {
    display: grid;
    grid-template-columns: 5fr 3fr; 
    gap: 40px; 
    margin-top: 20px; 
}

#cart-container .cart-info .cart-table {
    border-collapse: collapse;
    width: 100%; 
}


#cart-container .cart-info .cart-table .cart-table-header .cart-table-header-row th {
    border-bottom: 1px solid #a1a1a1;
    padding: 20px 0; 
    text-align: left;
    font-weight: bold; 
}

#cart-container .cart-info .cart-table .cart-table-body .cart-item td {
    padding: 20px 0;
    vertical-align: middle;
}

#cart-container .cart-info .cart-item-info {
    display: flex;
    justify-content: left;
    align-items: center; 
}

#cart-container .cart-info .cart-item-info img {
    width: 80px;
    height: auto;
    margin-right: 15px; 
}

#cart-container .cart-info .cart-item-quantity button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 0 5px; 
}


#cart-container .cart-info .cart-item-quantity input {
    width: 40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 1em;
}


#cart-container .cart-info .cart-item {
    margin-bottom: 20px; 
}


#cart-container .cart-info .cart-item-remove button {
    border: none;
    background-color: #fff;
    font-size: 1.5em; 
    cursor: pointer;
}


#cart-container .cart-info .payment-frame {
    background-color: #fff;
    padding: 20px;
}

#cart-container .cart-info .payment-frame .total-price {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0;
    color: #333;
}


#cart-container .cart-info .payment-frame .checkout-btn, 
#cart-container .cart-info .cart-table .cart-table-body .cart-item .cart-item-btn-continus-buy .continue-shopping-btn {
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#cart-container .checkout-btn:hover, 
#cart-container .continue-shopping-btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


#cart-container .product-note {
    margin-top: 30px;
}

#cart-container .product-note textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 1em;
    color: #333;
}
