@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:wght@300..800&display=swap");

/* Import các biến màu từ dark-theme.css */
@import url("/assets/css/admin/styleTheme.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito Sans", sans-serif;
}

svg {
  position: relative;
  width: 52px;
  height: 52px;
}

.icon-shape {
  position: absolute;
  padding: 18px;
  font-size: 20px;
}

.tf-section-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 20px;
  margin-bottom: 30px;
}
.tf-section-4 .wg-chart {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 24px;
  background: var(--White);
  border-radius: 14px;
}
.tf-section-4 .items-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tf-section-4 .items-center .flex {
  display: flex;
  align-items: center;
  gap: 14px;
}
.tf-section-4 .items-center .flex img {
  width: 50px;
  height: 50px;
  position: relative;
}
/* .tf-section-4 .items-center 
.flex i{
  position: absolute;
  font-size: 20px;
  right: 94%;
  top: 37%;
} */
.tf-section-4 .wg-chart .body-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2px;
  color: var(--Body-Text);
}
.tf-section-4 .wg-chart h4 {
  color: var(--Heading);
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 0 !important;
}
.tf-section-4 .wg-chart .box-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.box-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: var(--bs-green);
}
.box-icon .body-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
