@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:wght@300..800&display=swap");

#all-user-container {
  background-color: var(--White);
  padding: 24px;
  border-radius: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.header > h1 {
  font-size: 24px;
  color: var(--Heading);
  margin-bottom: 28px;
  font-weight: 700;
}

.header-show-cate {
  margin-bottom: 10px;
}

.all-user {
  border-bottom: 1px solid #283548;
  min-width: 1130px;
}

.row {
  flex-wrap: nowrap;
  padding: 12px;
  border-radius: 12px;
  background: transparent;
  color: var(--Heading);
}

.row img {
  width: 50px;
  height: auto;
  border-radius: 10px;
}

.header-title {
  margin-bottom: 1rem;
  background: var(--bg-table);
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  border-radius: 12px;
}
.name p{
  margin-bottom: 0 !important;
}
.cate-list li {
  border-radius: 12px;
  width: 100%;
}

.cate-list li:nth-child(odd) {
  background: var(--bg-table);
}

.header-show-cate .row .col-8 {
  padding: 0;
}
.content-show-cate {
  /* min-width: 1150px; */
}

.content-show-cate .row .col-4 {
  width: 300px;
  gap: 8px;
}

.content-show-cate .row .col:last-child {
  max-width: 130px;
}

.list-cate {
  padding-left: 0;
}

.list-cate > li:hover {
  background-color: var(--hv-item);
}

/* Nút chuyển trang */
.page {
  /* margin: 2rem 0px; */
}

.pagination {
  text-align: center !important;
}
.page-item {
  margin-right: 10px;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0;
}

.page-item:last-child {
  margin: 0;
}

.page-item .page-link {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  padding: 8px 0;
  border-color: transparent;
  background: transparent;
  color: #94a3b8;
}

.page-item .page-link.arrow {
  border-color: #283548;
}

.page-link.focused {
  background-color: #2275fc;
  color: #fff;
  box-shadow: none;
}

.page-link:focus {
  box-shadow: none;
}

.active > .page-link {
  background-color: #2275fc;
  color: #fff;
}

.disabled {
  visibility: hidden;
}

.fa-solid.fa-chevron-left,
.fa-solid.fa-chevron-right {
  font-size: 12px;
} /* Nút chuyển trang */

.add-btn {
  padding: 14px;
  width: 208px;
  border-radius: 12px;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}

.add-btn:hover {
  background: #2275fc !important;
  color: #fff !important;
}

.text-tiny {
  color: var(--Note);
  font-size: 14px;
  line-height: 15px;
}

select {
  border: 1px solid var(--Input);
  border-radius: 12px;
  width: 72px;
  padding: 6px 14px;
  text-align: center;
  background: transparent;
  color: var(--Heading);
}

.mini-search {
  padding: 14px 22px;
  border: 1px solid var(--Input);
  background-color: transparent;
  width: 100%;
  border-radius: 12px;
}

.btn-submit {
  position: absolute;
  right: 30px;
  top: 15px;
}

.btn-submit button {
  background: transparent;
  outline: none;
  border: none;
  color: var(--Heading);
}
.btn-submit button:hover{
  color: var(--bs-blue);
  transition: all 0.5s;
}
.text-tiny{
  line-height: 20px;
  color: var(--Note);
  font-size: 12px;
  margin-top: 3px;
}