* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.bg-custom {
  background-color: #f4eee0;
}

.form-label {
  position: absolute;
  top: 11px;
  left: 10px;
}

.form-outline.form-white.mb-4 {
  position: relative;
}

.btn-sub {
  text-decoration: none;
  padding: 0.8rem 5rem;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s;
  border: 1px solid #000;
}
.btn-sub:hover {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

.fa-li {
  margin-top: 4px;
}

.form-outline.form-white {
  margin: 2rem 0px;
}