@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:wght@300..800&display=swap");
body,
html {
  font-family: "Nunito Sans", sans-serif;
}

/* Container chính */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#checkout-container {
  display: grid;
  grid-template-columns: 6fr 4fr; /* Tỉ lệ các dòng */
  width: 1200px;
  margin: 0 auto;
}

#checkout-container .col-right-payment {
  padding: 3.8rem 0px;
  width: 80%;
}

#checkout-container .column {
  padding: 40px 0;
}

/* Tiêu đề */
#checkout-container .column h2,
#checkout-container .col-right-payment .shipping-info .payment-method h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: #515151;
}

/*breadcrumb điều hướng*/
.breadcrumb-frame h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.breadcrumb-frame {
  min-width: 100%;
  grid-column: 1 / span 2;
}

.breadcrumb a {
  text-decoration: none;
  color: #000;
  margin: 0 4px;
}

.breadcrumb span {
  color: #4b4b4b;
  margin-left: 4px;
}

/* Form thông tin giao hàng */
#checkout-container .shipping-info .form-group input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 16px;
  border: none;
  border: 1px solid #ddd;
  font-size: 0.9em;
  background-color: #fff;
  border-radius: 5px;
}

#checkout-container .shipping-info .select-address {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#checkout-container .shipping-info .select-address .form-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border: 1px solid #ddd;
  font-size: 0.9em;
  background-color: #fff;
  border-radius: 5px;
  font-family: inherit;
}

#checkout-container .col-right-payment .shipping-info .email-phone {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 10px;
}

/* Phương thức thanh toán */
#checkout-container .payment-method .method {
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 10px; */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

#checkout-container .payment-method .method img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#checkout-container .payment-method input[type="radio"] {
  margin-right: 10px;
}

/* Tổng kết và nút hoàn tất */
#checkout-container .col-right-payment .finish {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#checkout-container .col-right-payment .finish .btn-total p {
  margin: 5px 0;
  font-size: 1em;
  text-align: center;
}

#checkout-container .col-right-payment .finish .btn-total {
  /* width: 100%; */
  /* margin-top: 10px; */
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#checkout-container .col-right-payment .finish .btn-total:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

/* Thông tin đơn hàng */
#checkout-container .order-summary {
  padding: 30px 0 0 30px;
  border-left: 1px solid #dcdbdb;
  display: flex;
  flex-direction: column;
}

#checkout-container .order-summary .product-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#checkout-container
  .order-summary
  .product-list
  .body-list
  .product-item
  .item-img {
  display: flex;
  align-items: center;
  gap: 10px;
}
#checkout-container
  .order-summary
  .product-list
  .body-list
  .product-item
  .item-img
  .img-product {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

#checkout-container .order-summary .product-list .body-list .product-item td {
  padding: 15px 15px 15px 0px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

#checkout-container
  .order-summary
  .product-list
  .body-list
  .product-item
  td
  h2 {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

/* Khu vực voucher */
#checkout-container .order-summary .voucher-section {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #9e9e9e;
}

#checkout-container .order-summary .voucher-section .form-voucher {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Nút áp dụng voucher */
#checkout-container
  .order-summary
  .voucher-section
  .form-voucher
  .apply-voucher-btn {
  padding: 8px 24px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#checkout-container
  .order-summary
  .voucher-section
  .form-voucher
  .apply-voucher-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

#checkout-container .order-summary .voucher-section .form-voucher .id-voucher {
  border-radius: 5px;
  width: 72%;
  padding: 14px 10px;
  border: 1px solid #ccc;
  background: #fff;
}

/*tạm tính*/
#checkout-container .order-summary .provisional .row {
  display: flex;
  justify-content: space-between;
  color: #4b4b4b;
}

#checkout-container .order-summary .provisional::after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: #9e9e9e;
}

/*thành tiền*/
#checkout-container .order-summary .total-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  color: #000;
  margin-top: 1rem;
}

#checkout-container .icon-pay {
  margin-top: 4px;
}

#checkout-container .pic-img {
  position: relative;
}

#checkout-container .item-img span {
  font-size: 0.85714em;
  font-weight: 500;
  white-space: nowrap;
  padding: 3px 9px;
  border-radius: 2em;
  background-color: rgba(153, 153, 153, 0.9);
  color: #fff;
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  z-index: 2;
}