td > img {
    width: 50px;
    height: auto;
    border-radius: 10px;
}

select {
    background-color: var(--White) !important;
    margin-right: 4px !important;
}
div.dt-container .dt-search input{
    margin-left: 6px !important;
}

tbody>tr:nth-child(odd) {
    background: var(--bg-table) !important;
}

.dt-paging-button.current,
.dt-paging-button:hover{
    background: #2275fc !important;
    border-radius: 50px !important;
}

